[submodule "capitulo-1/desafio-1/ROCKETSEAT-Ignite-ReactJS-Projeto-1"]
	path = capitulo-1/desafio-1/ROCKETSEAT-Ignite-ReactJS-Projeto-1
	url = https://github.com/EdTonatto/ROCKETSEAT-Ignite-ReactJS-Projeto-1.git
[submodule "capitulo-1/conteudo/ROCKETSEAT-Ignite-ReactJS-Capitulo-1"]
	path = capitulo-1/conteudo/ROCKETSEAT-Ignite-ReactJS-Capitulo-1
	url = https://github.com/EdTonatto/ROCKETSEAT-Ignite-ReactJS-Capitulo-1.git
